* {
 box-sizing: border-box;
}

html,
body {
 display: flex;
 flex-direction: column;
 margin: 0;
 padding: 0;
 height: 100%;
 background-color: rgb(240, 240, 240);
}

a {
 text-decoration: none;
 color: black;
}

p {
 margin: 0;
 word-wrap: break-word;
 white-space: pre-line;
}

:root {
 --HeadingLarge: 32px / normal GMarketSansB;
 --HeadingMedium: 24px / normal GMarketSansB;
 --HeadingSmall: 16px / normal GMarketSansB;
 --ContentLarge: 28px / normal GMarketSansM;
 --ContentMedium: 20px / normal GMarketSansM;
 --ContentSmall: 16px / normal GMarketSansM;
 --MainColor: #d078b0;
 --Hover: #686868;
 --HoverPink: #f1b0d9;
}

@font-face {
 font-family: "GMarketSansL";
 src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
  format("woff");
 font-display: swap;
}
@font-face {
 font-family: "GMarketSansM";
 src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
  format("woff");
 font-display: swap;
}
@font-face {
 font-family: "GMarketSansB";
 src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
  format("woff");
 font-display: swap;
}
